.mat-toolbar.mat-primary {
    position: fixed;
    top: 0;
    left: 0;
    background: #485158;
    color: #fff;
    width: 100%;
    margin: 0;
  }

  .white-text-title {
    font-size: 25px;
    color: rgb(255, 255, 255) !important;
    text-align: center !important;
  }

  .white-text {
    color: rgb(255, 255, 255) !important;
    text-align: center !important;
  }